
.wave-grid {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-gap: 0;
  }
  
  .square {
    width: 20px;
    height: 20px;
    transition: background-color 0.5s;
  }